<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs") %>
    
</head>
<body>
    <%if (status == 1) { %>

        <div style="background-color: #006600">
          Fornecedor Cadastrado com Sucesso
      </div>
      <%} %>
      <%if (status == 2) { %>
  
        <div style="background-color: #Ff0000">
          Fornecedor removido com Sucesso
      </div>
      <%} %>
      <%if (status == 3) { %>
  
        <div style="background-color: #15ff00">
          Fornecedor atualizado com Sucesso
      </div>
      <%} %>
    <table class = "table table-striped">
    <th>
          ID
    </th>
    <th>
          NOME
    </th>
    <th>
         CNPJ
    </th>
    <th>
        DETALHAR
    </th>
     <th>
        REMOVER
    </th>
    <th>
        ATUALIZAR
    </th>
    <% for (const fornecedor of vetorFornecedor) {%>
        <tr>
        
        <td><%= fornecedor.id %></td> 
        <td><%= fornecedor.nome %></td>
        <td><%= fornecedor.cnpj %></td>
            
        <td>
            <a class = "btn btn-success" href = "/fornecedores/<%=fornecedor.id%>" >Detalhar</a>
       </td>
       <td>
            <a class = "btn btn-danger" href = "/fornecedores/remove/<%=fornecedor.id%>"onclick="return confirm('Deseja realmente remover?');">remover</a>
       </td>
       <td>
        <a class = "btn btn-warning" href = "/fornecedores/cadastrar/<%=fornecedor.id%>" >Atualizar</a>
   </td>
        
    </tr>
   <% }%>
</table>
<a href = "/">
    <input type = "button" class="btn btn-primary" value = "voltar"/>
</a>
   <%- include("../partials/rodape.ejs") %>
</body>
</html>